
# All platforms
/assets/

# Linux
/sakurai-linux
/sakurai-linux.log

# Windows
/sakurai-windows.exe
/sakurai-windows.log
/SDL2.dll

# Dos
/sakurai.exe
/sakurai.log
/SAKURAI.LOG
/game.dll

# Distributables
/sakurai.zip
/sakurai.img

# Developers, developers, developers
/plot-*.png

/.ninja_log
/.ninja_deps

/build/
/build-debug/
/build-release/
/objects/
/dev/
/.vscode/
