
# All platforms
/assets/

# Dos
/sakurai.exe
/sakurai.log
/SAKURAI.LOG

# Posix
/sakurai-posix
/sakurai-ubuntu

# Windows
/sakurai-windows.exe
/SDL2.dll

# Developers, developers, developers
/dosbox-x.conf
/plot-*.png

/*.sgi
/.ninja_log
/.ninja_deps

/build/
/build-debug/
/build-release/
/objects/
/dev/
/.vscode/
